DEBUGLOG=true
DOCS_API_URL=http://localhost:3001
POSTGRES_URL=postgres://postgres:12345678@localhost:5432/text_adventures
CORS_ORIGINS="http://127.0.0.1:3000,http://localhost:3000,http://127.0.0.1:3001,http://localhost:3001"